<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${courseName}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.css">
    <link rel="stylesheet" href="https://bootswatch.com/_assets/css/custom.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        #center {
            margin: auto;
            width: 1136px;
            padding: 10px;
        }
    </style>
</head>
<body>
<header
        th:insert="header :: header">
</header>
<div class="jumbotron text-center">
    <h2 th:text="${courseName}"/>
</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Coursebar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">


            <li class="nav-item">
                <a type="button" class="btn btn-outline-secondary" style="color: #f7f7f9" th:href="'/studentMain/'+${userId}+'/studentCourse/'+${courseId}+'/tasksForStudent'">Tasks</a>
            </li>
            <li class="nav-item">
                <a type="button"class="btn btn-outline-secondary" style="color: #f7f7f9" th:href="'/studentCourse/'+${courseId}+'/materials'" >Materials</a>
            </li>

        </ul>

    </div>
</nav>

<br>


<div th:each="el:${posts}" class="card text-white bg-dark mb-3"  id="center">
    <h1 class="display-3" th:text="${el.title}"/>
    <p class="lead" th:text="${el.announce}"/>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-secondary" th:href="'/user/'+${userId}+'/postForStudent/'+${courseId}+'/postId/'+${el.id}" role="button">Learn more</a>
    </p>
</div>

<div
        th:insert="footer :: footer">
</div>
</body>
</html>